block variables

doctype html(lang='en')

head
  title Sample Website
  link(rel="stylesheet", href="/stylesheets/reset.css")
  link(rel='stylesheet', href='/stylesheets/common.css')
  link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel="stylesheet", href="/stylesheets/animate.css")
  link(type='text/css', rel='stylesheet', href='/javascript/lightSlider/css/lightslider.css')
  link(href='https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic', rel='stylesheet', type='text/css')
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel='stylesheet')
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900', rel='stylesheet')
  link(rel='shortcut icon', type='image/png', href='/images/ico.png')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')

  // Required for Previews and Experiments
  script(src="//code.jquery.com/jquery-2.1.1.min.js")
  script
    = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
  script(type="text/javascript").
    window.PrismicProfiles = !{JSON.stringify(PrismicProfiles)}
  script(src="//static.cdn.prismic.io/prismic.min.js")
  script(src='/javascript/lightSlider/js/lightslider.js')
  script(src='/javascript/cookies.js')
  script(src='/javascript/main.js')
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js", integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js")
body(data-wio-id=activeDoc class='bg-black' style='width:100%;')

  div(style='')
      include ./layout/header.pug
      block body


      include ./layout/footer.pug
