* {
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #FFF7C7;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #FFF7C7;
  /* Gecko Browsers */
}

/*
 * Globals
 */

img {
  max-width: 100%;
}
