div.footer.container-fluid.mt-5.p-0.m-0.d-flex.flex-column.justify-content-center.align-items-center


  p.mt-3.text-center
    span.text-center.text-white &copy;Latorrefazione
     script.
        document.write("&nbsp;"+new Date().getFullYear()+'- All Right reserved | note legali e privacy - <a href="#" class="text-white">Cookie policy</a>')
